<nav class="leftnav">
  <div class = "leftnav-item" *ngIf="item == 'home'">
    <li class="nav-item">
      <a class="nav-link" 
      routerLink="/">
        Home
      </a>
    </li>
  </div>

  <div class = "leftnav-item" *ngIf="item == 'news'">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">
        Latest News 
      </a>
    </li>
  </div>

  <div class = "leftnav-item"  *ngIf="item == 'schedule'">
    <li class="nav-item">
      <a class="nav-link"
        routerLink="/">
        Sunday Class Schedule 
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        routerLink="/">
        #2
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        routerLink="/">
        #3
      </a>
    </li>
  </div>

  <div class = "leftnav-item"  *ngIf="item == 'gallery'">
    <ul>
      <li>Photos</li>
      <li>Videos</li>
    </ul>
  </div>

  <div class = "leftnav-item"  *ngIf="item == 'resource'">
    Resources
  </div>
</nav>
