
<nav class="navbar navbar-light">
  <div class="container">
    <div class="title" style = "align-self: center"><h1>Ellicott Taichi Health Club</h1></div>
    <img src = "../../assets/images/taichi-logo.jpg" alt = "taichi symbol">
    <ul class="nav navbar-nav pull-xs-right">
      
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          News
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Schedule of Classes
        </a>
      </li>

      <!--<li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Calandar
        </a>
      </li>
    -->
    
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Photo Gallery
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Resources 
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Contact Us
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          About Us
        </a>
      </li>
    </ul>

  </div>
</nav>
