
<nav class="navbar navbar-light">
  <div class="container">
    <div class="title" style = "align-self: center"><h1>Ellicott Taichi Health Club</h1></div>
    <img src = "../../assets/images/taichi-logo.jpg" alt = "taichi symbol">
    <ul class="nav navbar-nav pull-xs-right">
      
      <li class="nav-item">
        <a class="nav-link"
        (click) = "onClick('home')">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          (click) = "onClick('news')">
          News
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
        (click) = "onClick('schedule')">
          Schedule of Classes
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
        (click) = "onClick('gallery')">
          Photo Gallery
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
        (click) = "onClick('resources')">
          Resources 
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
        (click) = "onClick('contact')">
          Contact Us
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
        (click) = "onClick('about')">
          About Us
        </a>
      </li>
    </ul>

  </div>
</nav>
